{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Enter name of the movie"><br>
  <input type="text" name="desc" placeholder="Enter the description"><br>
  <input type="number" name="year" placeholder="year"><br>
  <input type="file" name="img"><br>
  <input type="submit"><br>
</form>
<a class="btn btn-warning" style="align-center" href="{% url 'movieapp:index' %}">Home</a>
{% endblock %}
