{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">

            <div class="card" style="width: 17rem; margin: 10;">
            <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="10px" height="150px">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
<center><a class="btn btn-warning" href="{% url 'movieapp:add_movie' %}">Add Movie</a></center>
{% endblock %}